//-homepage.pug
extends layout

	
block append script
	script(src="./js/feedbackCompiler.js")
	script(src="./js/fbForm.js")
	script(src="./js/initialDataLoad.js")
	script(src="./js/bodyRouter.js")
		
block fbForm
	div#form.overlay
		div.fb-form
			form(action="/signup.js" method="POST")

				div.fb-to-names.fb-comp
					div.form-header
						div.form-head-e.spacer
						div.form-head-e.title Give 'em feedback
						div.form-head-e.close-out 
							div#circle
								div &#x2573

					
					input#button-fakeData(type="button" value="FakeData")
					br
					
					input#first-name(name="firstName" placeholder="First Name")
					input#last-name(name="lastName" placeholder="Last Name")

				div.fb-email.fb-comp
					input#email(name="email" placeholder="Email Address" min="200")
			
				div.fb-ratings.fb-comp
					div.rating-inner-box
						div.fb-star-ratings-1.fb-comp
							label(for="rating-likable") Likable:  
							// Stars Thanks to Brian Knapp https://codepen.io/brianknapp/pen/JEotD/
						div.fb-star-ratings-2.fb-comp
							div.stars(name="rating-likable" data-stars="0")
								svg(height="25" width="23" class="star rating" data-rating="1")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
								svg(height="25" width="23" class="star rating" data-rating="2")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
								svg(height="25" width="23" class="star rating" data-rating="3")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
								svg(height="25" width="23" class="star rating" data-rating="4")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
								svg(height="25" width="23" class="star rating" data-rating="5")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
							br

						div.fb-star-ratings-1.fb-comp
							label(for="rating-trustworthy") Trustworthy:  
							// Stars Thanks to Brian Knapp https://codepen.io/brianknapp/pen/JEotD/
						div.fb-star-ratings-2.fb-comp
							div.stars(name="rating-trustworthy" data-stars="0")
								svg(height="25" width="23" class="star rating" data-rating="1")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
								svg(height="25" width="23" class="star rating" data-rating="2")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
								svg(height="25" width="23" class="star rating" data-rating="3")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
								svg(height="25" width="23" class="star rating" data-rating="4")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
								svg(height="25" width="23" class="star rating" data-rating="5")
									polygon(points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" style="fill-rule:nonzero;")
							br

				div.fb-being.fb-comp
					label(for="being") How were they being?:
					select#being-select.fb-select-box(name="being")

					div.being-box

				div.fb-message.fb-comp
					label(for="message") What do you want to say?: 
					br
					textarea#message(name="message" placeholder="Tell them what they need to hear..." rows="22" )

				div.anonymous.fb-comp
					input#testimony-button.testimony-display-1(name="anonymous-button" type="button" value="I want to include my name / Leave Testimony")
					input#anonymous-button.testimony-display-2.hide(name="anonymous-button" type="button" value="Nevermind, I want to send Anonymously")
					div.testimony-names.fb-comp
						input#from-first-name.testimony-display-2.hide(name="senderFirstName" placeholder="your First Name")
						input#from-last-name.testimony-display-2.hide(name="senderLastName" placeholder="your Last Name")

				div.read-reciept.fb-comp
					input#read-receipt(name="read-receipt" type="checkbox")
					label(for="read-reciept") Read-Receipt?
					
				input#button-signin.hide(type="button" value="Sign In/Up")

				input#button-submit(type="button" value="Send")
				

block content
	div.error-box.hide
		div.error-text 
