div.body-wrapper
	h2 Signup
	form(action="/sign-up" method="post")
		label(for="email" Email)
		input(name="email" type="email")
		br

		label(for="password" Password)
		input(name="password" type="password")
		br

		input(type="submit")
